$width:300px;
$height:300px;
$color:#e03434;

$baseWidth:200px;

$baseWidth:100px !default;
$str:'hello.jpg';
$class:'.div';

.div1{
    width: $width;
    height: $height;
    background-color: $color;
    background-image: url('./img/#{$str}');

}

.div2{
    width: $baseWidth;
    height: $height;
    background-color: $color;
    
}
#{$class}{
    width: $width;
    height: $height;
}